---
import FormattedDate from "@components/FormattedDate.astro";
import Terminal from "@components/Terminal.astro";
import ThemedImage from "@components/ThemedImage.astro";
import Base from "@layouts/Base.astro";
import styles from "@styles/blog.module.css";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Base>
    <main class={styles.content}>
        <section>
            <Terminal>
                $ curl https://arhsm.cat/rss.xml | parse | display<br />
                <br />
                [*] Parsing RSS feed<br />
                [*] Displaying results
            </Terminal>
        </section>
        <section class={styles.listing}>
            {
                posts.map(
                    ({
                        slug,
                        data: { title, pubDate, heroImage, heroImageDark },
                    }) => (
                        <a class={styles.blogEntry} href={`/blog/${slug}/`}>
                            {heroImage ? (
                                heroImageDark ? (
                                    <ThemedImage
                                        class={styles.blogHeroImage}
                                        light={heroImage}
                                        dark={heroImageDark}
                                        alt=""
                                        width="100%"
                                    />
                                ) : (
                                    <img
                                        class={styles.blogHeroImage}
                                        src={heroImage}
                                        alt=""
                                        width="100%"
                                    />
                                )
                            ) : null}
                            <h4 class={styles.blogTitle}>{title}</h4>
                            <p class={styles.blogDate}>
                                <FormattedDate date={pubDate} />
                            </p>
                        </a>
                    ),
                )
            }
        </section>
    </main>
</Base>
