---
import DiscordCard from "@components/DiscordCard.astro";
import SocialIcons, { type Socials } from "@components/Icons/SocialIcons.astro";
import ThemedImage from "@components/ThemedImage.astro";
import Base from "@layouts/Base.astro";
import styles from "@styles/about.module.css";

interface Social {
    username: string;
    link: string;
    hidden: boolean;
}

const socials: Record<Socials, Social> = {
    Email: {
        username: "[anything]@arhsm.cat",
        link: "mailto:arHSM%20<contact@arhsm.cat>",
        hidden: false,
    },
    GitHub: {
        username: "arHSM",
        link: "https://github.com/arHSM",
        hidden: false,
    },
    Gitlab: {
        username: "arHSM",
        link: "https://gitlab.com/arHSM",
        hidden: false,
    },
    Telegram: {
        username: "arhansm",
        link: "https://t.me/arhansm",
        hidden: false,
    },
    Twitter: {
        username: "_arHSM",
        link: "https://twitter.com/_arHSM",
        hidden: false,
    },
    Mastodon: {
        username: "@arhsm@mastodon.social",
        link: "https://mastodon.social/@arhsm",
        hidden: false,
    },
    Bluesky: {
        username: "arhsm.cat",
        link: "https://bsky.app/profile/arhsm.cat",
        hidden: false,
    },
    Reddit: {
        username: "arHSM",
        link: "https://reddit.com/u/arHSM",
        hidden: false,
    },
    "Last.fm": {
        username: "arHSM",
        link: "https://www.last.fm/user/arHSM",
        hidden: false,
    },
    Spotify: {
        username: "arHSM",
        link: "https://open.spotify.com/user/axtkexlafw1cikvm9wjz02yob",
        hidden: false,
    },
    StackOverflow: {
        username: "arHSM",
        link: "https://stackoverflow.com/users/16848447/arhsm",
        hidden: true,
    },
    YouTube: {
        username: "arHSM",
        link: "https://youtube.com/@arhsm",
        hidden: true,
    },
    Pinterest: {
        username: "arHanSeungMin",
        link: "https://pinterest.com/arHanSeungMin",
        hidden: true,
    },
};
---

<Base title="arHSM ･ About Me">
    <main>
        <article>
            <ThemedImage
                class={styles.aboutBanner}
                light="/placeholder_wide.png"
                dark="/placeholder_wide_dark.png"
                width="100%"
            />
            <section>
                <h1>Haiii</h1>
                <p>
                    I'm <abbr title="Han Seung Min">한승민</abbr> , commonly known
                    as arHSM. Hater of humans, lover of cats. I like physics and
                    cosmology. I write code and draw random things. I love <a
                        href="https://twice.jype.com/">TWICE</a
                    >.
                </p>
            </section>
            <section>
                <h4>Socials</h4>
                <DiscordCard />
                <div class={styles.socialsGrid}>
                    {
                        (Object.entries(socials) as [Socials, Social][])
                            .filter(([_, { hidden }]) => !hidden)
                            .map(([name, data]) => (
                                <>
                                    <div class={styles.socialName}>
                                        <SocialIcons name={name} />
                                        {name}
                                    </div>
                                    <a
                                        class={styles.socialUsername}
                                        href={data.link}
                                    >
                                        {data.username}
                                    </a>
                                </>
                            ))
                    }
                </div>
            </section>
        </article>
    </main>
</Base>
