---
import styles from "@styles/terminal.module.css";

interface Props {
    class?: string;
    exitCode?: number;
}

const { class: className, exitCode = 0 } = Astro.props;
---

<div class:list={[className, styles.terminalOverflow]}>
    <div class:list={styles.terminal}>
        <div class={styles.terminalText}>
            <span class={styles.terminalTextGreen}>
                <slot />
                <br />
                <br />
            </span>
            <span class={styles.terminalTextRed}
                >[program exited - {exitCode}]</span
            >
            <span class={styles.terminalTextGreen}>
                <br />
                <br />
                $ <span class={styles.terminalCursor}></span>
            </span>
        </div>
    </div>
</div>
