---
import FormattedDate from "@components/FormattedDate.astro";
import ThemedImage from "@components/ThemedImage.astro";
import Base from "@layouts/Base.astro";
import styles from "@styles/blogpost.module.css";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, heroImageDark } =
    Astro.props;
---

<Base title={`arHSM ･ ${title}`} description={description}>
    <main class={styles.content}>
        <article>
            {
                heroImage ? (
                    heroImageDark ? (
                        <ThemedImage
                            class={styles.heroImage}
                            light={heroImage}
                            dark={heroImageDark}
                            alt=""
                            width="100%"
                        />
                    ) : (
                        <img
                            class={styles.heroImage}
                            src={heroImage}
                            alt=""
                            width="100%"
                        />
                    )
                ) : null
            }
            <section>
                <h1 class={styles.blogTitle}>{title}</h1>
                <div class={styles.blogDate}>
                    <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <>
                                ･<FormattedDate date={updatedDate} />
                            </>
                        )
                    }
                </div>
                <hr class={styles.blogSeparator} />
            </section>
            <section>
                <slot />
            </section>
        </article>
    </main>
</Base>
